apiVersion: v1
kind: ConfigMap
metadata:
  name:  "{{ .Chart.Name }}-tests"
data:
  run.sh: |-
    @test "Testing GoCD UI is accessible" {
      {{- if .Values.agent.goServerUrl }}
        curl --retry 12 --retry-delay 10 {{ .Values.agent.goServerUrl }}/auth/login
      {{- else }}
        curl --retry 12 --retry-delay 10 "http://{{ .Chart.Name }}-server-service:{{ .Values.server.service.httpPort }}/go/auth/login"
      {{- end }}
    }

    @test "Testing GoCD Agents are connected to server" {
      {{- if .Values.agent.goServerUrl }}
        agentCount="$(curl '{{ .Values.agent.goServerUrl }}/api/agents' -H 'Accept: application/vnd.go.cd.v4+json' |  jq '._embedded.agents' | jq '. | length' )"
        [ "$agentCount" -eq {{ .Values.agent.replicaCount }} ]
      {{- else }}
        agentCount="$(curl 'http://{{ .Chart.Name }}-server-service:{{ .Values.server.service.httpPort }}/go/api/agents' -H 'Accept: application/vnd.go.cd.v4+json' |  jq '._embedded.agents' | jq '. | length' )"
        [ "$agentCount" -eq {{ .Values.agent.replicaCount }} ]
      {{- end }}
    }

    @test "Testing GoCD application is accessible through service" {
      curl http://{{ .Chart.Name }}-server-service:{{ .Values.server.service.httpPort }}/go
    }

    @test "Testing GoCD application is accessible through ingress" {
      {{- if .Values.server.ingress.enabled }}
        {{- range .Values.server.ingress.hosts }}
          echo 192.168.99.101 {{ . }} >> /etc/hosts
          curl http://{{ . }}
        {{- end }}
      {{- else }}
        echo 'Ingress disabled. Skipping test..'
      {{- end }}
    }
